In [5]:
import pandas as pd

## Analisis

In [6]:
dataset_juegos = pd.read_csv('./databases/bgg_database.csv')
dataset_peliculas = pd.read_csv('./databases/IMDB-Movie-Data.csv')
dataset_libros = pd.read_csv('./databases/libros_bd.csv')

In [9]:
dataset_juegos.isnull().sum()

rank                0
game_name           0
game_href           0
geek_rating         0
avg_rating          0
num_voters          0
description         0
yearpublished       0
minplayers          0
maxplayers          0
minplaytime         0
maxplaytime         0
minage              0
avgweight           0
best_num_players    0
designers           0
mechanics           0
categories          0
dtype: int64

In [10]:
dataset_juegos.head()

,rank,game_name,game_href,geek_rating,avg_rating,num_voters,description,yearpublished,minplayers,maxplayers,minplaytime,maxplaytime,minage,avgweight,best_num_players,designers,mechanics,categories
0,1,Brass: Birmingham,https://boardgamegeek.com/boardgame/224517/bra...,8.415,8.60,46836.0,Brass: Birmingham is an economic strategy game...,2018,2,4,60,120,14,3.8776,"[{'min': 3, 'max': 4}]","['Gavan Brown', 'Matt Tolman', 'Martin Wallace']","['Hand Management', 'Income', 'Loans', 'Market...","['Age of Reason', 'Economic', 'Industry / Manu..."
1,2,Pandemic Legacy: Season 1,https://boardgamegeek.com/boardgame/161936/pan...,8.377,8.53,53807.0,Pandemic Legacy is a co-operative campaign gam...,2015,2,4,60,60,13,2.8308,"[{'min': 4, 'max': 4}]","['Rob Daviau', 'Matt Leacock']","['Action Points', 'Cooperative Game', 'Hand Ma...","['Environmental', 'Medical']"
2,3,Gloomhaven,https://boardgamegeek.com/boardgame/174430/glo...,8.349,8.59,62592.0,Gloomhaven is a game of Euro-inspired tactica...,2017,1,4,60,120,14,3.9132,"[{'min': 3, 'max': 3}]",['Isaac Childres'],"['Action Queue', 'Action Retrieval', 'Campaign...","['Adventure', 'Exploration', 'Fantasy', 'Fight..."
3,4,Ark Nova,https://boardgamegeek.com/boardgame/342942/ark...,8.335,8.54,44728.0,"In Ark Nova, you will plan and design a modern...",2021,1,4,90,150,14,3.7653,"[{'min': 2, 'max': 2}]",['Mathias Wigge'],"['Action Queue', 'End Game Bonuses', 'Grid Cov...","['Animals', 'Economic', 'Environmental']"
4,5,Twilight Imperium: Fourth Edition,https://boardgamegeek.com/boardgame/233078/twi...,8.240,8.60,24148.0,Twilight Imperium (Fourth Edition) is a game o...,2017,3,6,240,480,14,4.3173,"[{'min': 6, 'max': 6}]","['Dane Beltrami', 'Corey Konieczka', 'Christia...","['Action Drafting', 'Area-Impulse', 'Dice Roll...","['Civilization', 'Economic', 'Exploration', 'N..."

In [28]:
print(dataset_juegos.description[0])
dataset_juegos['description'] = dataset_juegos['description'].apply(lambda descripcion: descripcion.replace('\n', ' '))
print(dataset_juegos.description[0])

Brass: Birmingham is an economic strategy game sequel to Martin Wallace' 2007 masterpiece, Brass. Brass: Birmingham tells the story of competing entrepreneurs in Birmingham during the industrial revolution, between the years of 1770-1870.  It offers a very different story arc and experience from its predecessor. As in its predecessor, you must develop, build, and establish your industries and network, in an effort to exploit low or high market demands. The game is played over two halves: the canal era (years 1770-1830) and the rail era (years 1830-1870). To win the game, score the most VPs. VPs are counted at the end of each half for the canals, rails and established (flipped) industry tiles.  Each round, players take turns according to the turn order track, receiving two actions to perform any of the following actions (found in the original game):  1) Build - Pay required resources and place an industry tile. 2) Network - Add a rail / canal link, expanding your network. 3) Develop - Increase the VP value of an industry. 4) Sell - Sell your cotton, manufactured goods and pottery. 5) Loan - Take a &pound;30 loan and reduce your income.  Brass: Birmingham also features a new sixth action:  6) Scout - Discard three cards and take a wild location and wild industry card. (This action replaces Double Action Build in original Brass.)
Brass: Birmingham is an economic strategy game sequel to Martin Wallace' 2007 masterpiece, Brass. Brass: Birmingham tells the story of competing entrepreneurs in Birmingham during the industrial revolution, between the years of 1770-1870.  It offers a very different story arc and experience from its predecessor. As in its predecessor, you must develop, build, and establish your industries and network, in an effort to exploit low or high market demands. The game is played over two halves: the canal era (years 1770-1830) and the rail era (years 1830-1870). To win the game, score the most VPs. VPs are counted at the end of each half for the canals, rails and established (flipped) industry tiles.  Each round, players take turns according to the turn order track, receiving two actions to perform any of the following actions (found in the original game):  1) Build - Pay required resources and place an industry tile. 2) Network - Add a rail / canal link, expanding your network. 3) Develop - Increase the VP value of an industry. 4) Sell - Sell your cotton, manufactured goods and pottery. 5) Loan - Take a &pound;30 loan and reduce your income.  Brass: Birmingham also features a new sixth action:  6) Scout - Discard three cards and take a wild location and wild industry card. (This action replaces Double Action Build in original Brass.)

In [27]:
print(dataset_juegos.categories[120])
dataset_juegos['categories'] = dataset_juegos['categories'].apply(lambda categorie: categorie.replace("'", ''))
print(dataset_juegos.categories[120])

['Card Game', 'Economic', 'Renaissance']
[Card Game, Economic, Renaissance]

In [37]:
dataset_juegos_procesados = pd.DataFrame({
    'title': dataset_juegos['game_name'],
    'description': dataset_juegos.apply(
        lambda row: f"description: {row['description']}; categories: {row['categories']}; minplayers: {row['minplayers']}; maxplayers: {row['maxplayers']}", axis=1),
    'class': 'Juego'
})
dataset_juegos_procesados.head()

,title,description,class
0,Brass: Birmingham,description: Brass: Birmingham is an economic ...,Juego
1,Pandemic Legacy: Season 1,description: Pandemic Legacy is a co-operative...,Juego
2,Gloomhaven,description: Gloomhaven is a game of Euro-ins...,Juego
3,Ark Nova,"description: In Ark Nova, you will plan and de...",Juego
4,Twilight Imperium: Fourth Edition,description: Twilight Imperium (Fourth Edition...,Juego

In [31]:
dataset_peliculas.head()

,Rank,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
0,1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76
1,2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65
2,3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62
3,4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59
4,5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40

In [35]:
dataset_peliculas.Description[670]

'The savage murders of three young children sparks a controversial trial of three teenagers accused of killing the kids as part of a satanic ritual.'

In [39]:
dataset_peliculas_procesados = pd.DataFrame({
    'title': dataset_peliculas['Title'],
    'description': dataset_peliculas.apply(
        lambda row: f"description: {row['Description']}; categories: {row['Genre']}", axis=1),
    'class': 'Pelicula'
})
dataset_peliculas_procesados.head()

,title,description,class
0,Guardians of the Galaxy,description: A group of intergalactic criminal...,Pelicula
1,Prometheus,description: Following clues to the origin of ...,Pelicula
2,Split,description: Three girls are kidnapped by a ma...,Pelicula
3,Sing,"description: In a city of humanoid animals, a ...",Pelicula
4,Suicide Squad,description: A secret government agency recrui...,Pelicula

In [41]:
dataset_libros.head()

,Title,Genre,Description
0,Frankenstein Or The Modern Prometheus,Science fiction Horror tales Gothic fiction S...,"""Frankenstein Or, The Modern Prometheus"" by Ma..."
1,Pride and Prejudice,England Fiction Young women Fiction Love stor...,"""Pride and Prejudice"" by Jane Austen is a clas..."
2,Romeo and Juliet,Vendetta Drama Youth Drama Verona Italy Drama...,"""Romeo and Juliet"" by William Shakespeare is a..."
3,Moby Dick Or The Whale,Whaling Fiction Sea stories Psychological fic...,"""Moby Dick Or, The Whale"" by Herman Melville i..."
4,The Scarlet Letter,Adultery Fiction Historical fiction Revenge F...,"""The Scarlet Letter"" by Nathaniel Hawthorne is..."

In [42]:
dataset_libros_procesados = pd.DataFrame({
    'title': dataset_libros['Title'],
    'description': dataset_libros.apply(
        lambda row: f"description: {row['Description']}; categories: {row['Genre']}", axis=1),
    'class': 'Libro'
})
dataset_libros_procesados.head()

,title,description,class
0,Frankenstein Or The Modern Prometheus,"description: ""Frankenstein Or, The Modern Prom...",Libro
1,Pride and Prejudice,"description: ""Pride and Prejudice"" by Jane Aus...",Libro
2,Romeo and Juliet,"description: ""Romeo and Juliet"" by William Sha...",Libro
3,Moby Dick Or The Whale,"description: ""Moby Dick Or, The Whale"" by Herm...",Libro
4,The Scarlet Letter,"description: ""The Scarlet Letter"" by Nathaniel...",Libro

In [43]:
dataset_juegos_procesados.to_csv('./databases/juegos_procesados.csv', index=False)
dataset_peliculas_procesados.to_csv('./databases/peliculas_procesados.csv', index=False)
dataset_libros_procesados.to_csv('./databases/libros_procesados.csv', index=False)

In [2]:
datos_melancolia = [
(0,'No sé, me siento un poco nostálgico hoy.'),
(0,'Todo parece tan gris, como si algo faltara.'),
(0,'No tengo ganas de hacer nada, estoy algo decaído.'),
(0,'Echo de menos esos tiempos felices que ya no volverán.'),
(0,'Me invade una sensación de tristeza, sin motivo aparente.'),
(0,'Me siento un poco perdido hoy, como si algo faltara.'),
(0,'Es uno de esos días donde la tristeza aparece sin razón.'),
(0,'No encuentro motivación para hacer nada, me siento vacío.'),
(0,'Mi mente está llena de recuerdos tristes.'),
(0,'Siento que estoy atrapado en un ciclo de nostalgia.'),
(0,'Me invade una tristeza que no puedo explicar.'),
(0,'Hoy siento un vacío en el pecho, sin saber por qué.'),
(0,'El día está apagado, como mi estado de ánimo.'),
(0,'No logro deshacerme de este sentimiento de pesadumbre.'),
(0,'Es como si el tiempo hubiera detenido toda alegría.'),
(0,'No encuentro consuelo en nada, todo parece sombrío.'),
(0,'Estoy decaído, como si no hubiera razón para ser feliz.'),
(0,'Mis pensamientos están envueltos en una bruma de tristeza.'),
(0,'Hoy siento un peso en el corazón que no puedo soltar.'),
(0,'Todo parece distante, como si estuviera desconectado.'),
(0,'Mi alma está llena de añoranza por lo que no tengo.'),
(0,'Siento que nada me anima, estoy sumido en una profunda melancolía.'),
(0,'Mis pensamientos están pesados, todo parece sombrío.'),
(0,'Me siento atrapado en un estado de tristeza continua.'),
(0,'La vida parece haber perdido su color hoy.'),
]

datos_nifunifa = [
(1,'Estoy tranquilo, sin nada que me afecte.'),
(1,'No siento emoción por lo que está pasando, todo es normal.'),
(1,'Hoy no hay mucho de qué alegrarse ni entristecerse.'),
(1,'Estoy en piloto automático, nada me sorprende.'),
(1,'El día ha pasado sin grandes eventos ni emociones.'),
(1,'No sé, simplemente me siento neutral.'),
(1,'No siento alegría ni tristeza, simplemente estoy.'),
(1,'Todo está bien, pero nada me emociona especialmente.'),
(1,'Hoy ha sido un día sin altibajos, simplemente normal.'),
(1,'Nada me molesta, pero tampoco nada me entusiasma.'),
(1,'Estoy en un punto medio, no hay mucho que decir sobre cómo me siento.'),
(1,'Hoy ha sido un día igual que los demás, sin emociones fuertes.'),
(1,'No tengo ningún sentimiento en particular.'),
(1,'Me siento bastante indiferente hacia lo que pasa.'),
(1,'Todo sigue igual, ni bien ni mal.'),
(1,'Me encuentro en un estado de tranquilidad sin mucha emoción.'),
(1,'No siento mucho entusiasmo ni desgano, solo estoy.'),
(1,'Nada me preocupa hoy, pero tampoco estoy emocionado por nada.'),
(1,'El día es simplemente uno más, sin sorpresas.'),
(1,'Estoy en un estado neutro, ni triste ni alegre.'),
(1,'Hoy fue un día más, nada especial.'),
(1,'No siento ni mucha emoción ni tristeza, todo está normal.'),
(1,'Estoy neutral, no me afecta demasiado lo que sucede.'),
(1,'Es solo otro día como cualquier otro, sin nada destacable.'),
(1,'Me siento bastante indiferente, ni bien ni mal.'),
]
datos_alegria = [
(2,'Hoy es un día espectacular, ¡me siento increíble!'),
(2,'Estoy muy emocionado por todo lo que está pasando.'),
(2,'¡Qué felicidad! Todo está saliendo a la perfección.'),
(2,'No puedo dejar de sonreír, ¡estoy tan contento!'),
(2,'Me siento lleno de energía y entusiasmo.'),
(2,'Estoy tan contento que podría volar.'),
(2,'Todo me sale bien hoy, ¡qué alegría!'),
(2,'Me siento afortunado de tener un día tan bueno.'),
(2,'¡Es un gran día! Me siento lleno de vida.'),
(2,'Qué buen humor tengo, nada me molesta.'),
(2,'Me siento entusiasmado por todo lo que está por venir.'),
(2,'¡Todo es perfecto hoy!'),
(2,'Me levante de buen humor y todo sigue igual de bien.'),
(2,'Estoy lleno de optimismo y energía.'),
(2,'Hoy todo me hace sonreír.'),
(2,'¡Qué bien se siente cuando todo sale como quieres!'),
(2,'Siento una felicidad indescriptible.'),
(2,'Me encanta cómo está saliendo el día.'),
(2,'Todo parece estar de mi lado, ¡me siento increíble!'),
(2,'Hoy estoy disfrutando cada momento.'),
(2,'¡Todo es tan positivo hoy!'),
(2,'Me siento afortunado de tener un día tan bueno.'),
(2,'¡Qué bien se siente estar tan alegre!'),
(2,'Todo está yendo a la perfección, ¡me siento fenomenal!'),
(2,'Estoy muy agradecido por todo lo bueno que me pasa.'),
]

In [46]:
datos_sentimientos = datos_melancolia + datos_nifunifa +datos_alegria
sentimientos = pd.DataFrame(datos_sentimientos, columns=['clase', 'frase'])
sentimientos.to_csv('./databases/sentimientos.csv', index=False)